{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "10"
                },
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}